
.app {
    display:flex;
    flex-wrap: wrap;
}

.listPane {
    display: inline-block;
    border-right: 1px solid black;
    width: 20%;
    min-width: 20em;
}

.mainPane {
    flex-grow: 1;
    width: 50%;
}