
.eventTime {
  text-align: left;
  font: smaller;
}

.eventType {
  text-align:left;
}

.eventPlayer {
  text-align:left;
}

.eventMessage {
  text-align:left;
  white-space: nowrap;
  text-overflow: ellipsis;
}