
.listItem {  
  padding: 0.5em;
  cursor: pointer;
  text-align: left;
}

.listItem:nth-child(even) {
  background-color: whitesmoke;
}

.listItem:nth-child(odd) {
  background-color: white;
}

.listItem.selectedItem {
  background-color: #303030;
  color: white;
}

.listHost {
    font-size: small;
    font-style: italic;
}

.lastSeen {
  font-size: smaller;
}